@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueBold.eot');
    src: url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBold.woff2') format('woff2'),
        url('BebasNeueBold.woff') format('woff'),
        url('BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueRegular.eot');
    src: url('BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueRegular.woff2') format('woff2'),
        url('BebasNeueRegular.woff') format('woff'),
        url('BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueBold_1.eot');
    src: url('BebasNeueBold_1.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBold_1.woff2') format('woff2'),
        url('BebasNeueBold_1.woff') format('woff'),
        url('BebasNeueBold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueRegular_1.eot');
    src: url('BebasNeueRegular_1.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueRegular_1.woff2') format('woff2'),
        url('BebasNeueRegular_1.woff') format('woff'),
        url('BebasNeueRegular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

