@font-face {
  font-family: "Bebas Neue";
  src: url("../assets/fonts/bebasnueu/BebasNeueBold.eot");
  src: url("../assets/fonts/bebasnueu/BebasNeueBold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/bebasnueu/BebasNeueBold.woff2") format("woff2"),
    url("../assets/fonts/bebasnueu/BebasNeueBold.woff") format("woff"),
    url("../assets/fonts/bebasnueu/BebasNeueBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../assets/fonts/bebasnueu/BebasNeueRegular.eot");
  src: url("../assets/fonts/bebasnueu/BebasNeueRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/bebasnueu/BebasNeueRegular.woff2") format("woff2"),
    url("../assets/fonts/bebasnueu/BebasNeueRegular.woff") format("woff"),
    url("../assets/fonts/bebasnueu/BebasNeueRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../assets/fonts/bebasnueu/BebasNeueBold_1.eot");
  src: url("../assets/fonts/bebasnueu/BebasNeueBold_1.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/bebasnueu/BebasNeueBold_1.woff2") format("woff2"),
    url("../assets/fonts/bebasnueu/BebasNeueBold_1.woff") format("woff"),
    url("../assets/fonts/bebasnueu/BebasNeueBold_1.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../assets/fonts/bebasnueu/BebasNeueRegular_1.eot");
  src: url("../assets/fonts/bebasnueu/BebasNeueRegular_1.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/bebasnueu/BebasNeueRegular_1.woff2") format("woff2"),
    url("../assets/fonts/bebasnueu/BebasNeueRegular_1.woff") format("woff"),
    url("../assets/fonts/bebasnueu/BebasNeueRegular_1.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Normalize CSS */
* {
  margin: 0;
  padding: 0;
  font-style: normal;
}
.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-flex-only {
  display: flex;
  align-items: center;
}
/* /Normalize CSS */

/* Header section */
nav {
  padding-top: 21px;
}
.wrapper {
  margin: -1px auto;
  background-image: url("../assets/images/bgimage1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1440px;
  height: 960px;
  position: relative;
}
.nav__links ul {
  gap: 32px;
}
.nav__links ul li a {
  color: #fff;
  font-family: "Bebas Neue";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 6px;
  transition: all ease 0.6s;
}
.nav__links ul li a:hover {
  color: #ffb548;
}
.dropdown {
  position: relative;
}
.dropdown__link {
  outline: none;
  border: none;
  padding: 5px;
  background: none;
  color: #fff;
  font-family: "Bebas Neue";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.2px;
}
.dropdown__link:hover {
  cursor: pointer;
}
.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  border-radius: 3px;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.75);
  padding: 0.75rem;
  opacity: 0;
  width: 40px;
  height: 60px;
}
.dropdown > .dropdown__link:focus + .dropdown-menu {
  pointer-events: auto;
  opacity: 1;
}
.dropdown-menu a {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-family: "Bebas Neue";
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.dropdown-menu a:hover {
  color: #f3af34;
}
.nav__right-column {
  display: inline-block;
  width: 2px;
  height: 30px;
  background-color: #fff;
  opacity: 0.5;
  margin: 0 24px;
}
.nav__right-icons .icons {
  transition: all ease 0.6s;
}
.nav__right-icons .icons:hover {
  transform: scale(1.3);
}
.nav__right-icons .xboxicon {
  margin-right: 17px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 250px 150px 470px 132px;
}
.hero h1 {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 80px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.hero h3 {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 28px;
}
.hero__btn {
  width: 260px;
  height: 60px;
  border-radius: 4px;
  background: linear-gradient(195deg, #ffb548 11.27%, #f3af34 90.4%);
  justify-content: center;
  border: none;
  transition: all ease 0.6s;
}
.hero__btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.hero__btn p {
  width: 148px;
  color: #1a1917;
  font-family: "Bebas Neue";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}

.hero__btn-column {
  display: inline-block;
  height: 24px;
  width: 2px;
  background-color: #1a1917;
  margin: 0 14px 0 11px;
}
.hero__btn-cost {
  color: #1a1917;
  font-family: "Bebas Neue";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.thestory {
  position: absolute;
  bottom: 53px;
  left: 686px;
  right: 686px;
}
/* /Header section */

/* Quote Section */
.quote-section {
  margin: 0 auto;
  background-color: rgb(20, 20, 20);
  background-image: url("../assets/images/bgquote.png");
  background-repeat: no-repeat;
  width: 1440px;
  height: 960px;
}
.quote-section__left {
  margin: 200px 190px 0 0;
}
.quote-section__right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 160px;
}
.quote-section__right .quotecard:nth-child(2) {
  margin-right: 130px;
}
.quote-section__left h3 {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 8px;
}
.quote-section__left h2 {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.quote-section__left p {
  width: 370px;
  height: 136px;
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 37px;
}
.quote-section__left a button {
  width: 260.362px;
  height: 60px;
  border-radius: 4px;
  background: linear-gradient(195deg, #ffb548 11.27%, #f3af34 90.4%);
  color: #1a1917;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  border: none;
}
.quote-section__left a button:hover {
  cursor: pointer;
}
.quote-section__right {
  width: 630px;
  height: 690px;
}
.quotecard {
  width: 410px;
  height: 130px;
  padding: 30px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
  margin-bottom: 30px;
}
.quotecardimg {
  width: 64px;
  height: 64px;
  background-color: #ffb548;
  border-radius: 50%;
  position: relative;
}
.quotecardimg img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  bottom: 1px;
}
.top__icon img {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  object-fit: cover;
}
.quotecard__top {
  gap: 30px;
  margin-bottom: 18px;
}
.quotecard h3 {
  width: 240px;
  height: 28px;
  color: #ffb548;
  font-family: Bebas Neue;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}
.quotecard h4 {
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.5;
}
.quotecard p {
  width: 90%;
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 6px;
}
.quotecard span {
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
}
/* /Quote Section */

/* Subscribe section */
.subscribe-section {
  width: 1440px;
  margin: 0 auto;
  background-color: #080a0b;
}
.subscribe {
  gap: 70px;
}
.subscribe__right h3 {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 8px;
}
.subscribe__right h2 {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.subscribe__right p {
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 20px;
}
.subscribe-input {
  display: inline-block;
  width: 340px;
  height: 50px;
  padding-left: 22px;
  padding-top: 5px;
  border-radius: 5px;
  background: #1b1d1e;
}
.subscribe-input label {
  display: block;
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
}
.subscribe-input input {
  width: 80%;
  outline: none;
  background: #1b1d1e;
  border: none;
  color: #ffb548;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
}
input::placeholder {
  color: #ffb548;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
}
.subscribe__right button {
  width: 200px;
  height: 54px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(195deg, #ffb548 11.27%, #f3af34 90.4%);
  vertical-align: top;
  margin-left: 15px;
}
.subscribe__right button:hover {
  cursor: pointer;
}
/* /Subscribe section */

/* footer section */
.footer-section {
  width: 1440px;
  margin: 0 auto;
  background-color: #080a0b;
}
.footer__top {
  margin-bottom: 30px;
}
.footer-links ul {
  gap: 32px;
}
.footer-links ul li a {
  display: inline-block;
  padding: 5px;
  color: #fff;
  text-align: right;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  transition: transform 0.4s;
}
.footer-links ul li a:hover {
  transform: scale(1.2);
}
.footer-socials div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 20px;
}
.footer-socials div:nth-child(1):hover {
  background-color: #1977f2;
}
.footer-socials div:nth-child(2):hover {
  background-color: #41bbf4;
}
.footer-socials div:nth-child(3):hover {
  background-color: #ff0000;
}
.footer-socials div:hover i {
  color: white !important;
}
.footer-socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.footer__column {
  width: 1140px;
  height: 2px;
  background-color: #fff;
  opacity: 0.5;
  margin-bottom: 22px;
}
.footer__bottom{
  display: flex;
  justify-content: space-between;
}
.footer__bottom p:nth-child(1) {
  opacity: 0.5;
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
}
.footer__bottom p:nth-child(2) a {
  color: #fff;
  text-align: right;
  vertical-align: top;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
/* /footer section */
